@model IEnumerable<ShopGiay.Models.San_pham>
@using ShopGiay.Models;

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayout.cshtml";
}

<section class="is-title-bar">
    <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
        <ul>
            <li>Admin</li>
            <li>Sản Phẩm</li>
        </ul>
    </div>
</section>

<section class="is-hero-bar">
    <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
        <h1 class="title">
            Sản phẩm
        </h1>
        <button class="button light"><a href="@Url.Action("create","AdminSanpham")">Thêm mới</a></button>
    </div>
</section>
<table class="table">
    <tr>
        <th>
            Tên sản phẩm
        </th>
        <th>
            Mô tả
        </th>
        <th>
           Giá
        </th>
        <th>
            Ngày cập nhật
        </th>
        <th>
            Trạng thái
        </th>
        <th>
            ID Nhóm danh mục
        </th>
        <th>
            Giảm giá
        </th>
        <th>
            Hình ảnh
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tensanpham)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mota)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ngaycapnhat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Trangthai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Danh_muc.ID_Nhom_Danh_Muc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Khuyen_mai.Ten_giamgia)
            </td>
            <td>
                <img src="~/Asset/images/@foreach (Hinh_anh hh in (List<Hinh_anh>)ViewBag.hinhanh){ if (hh.ID_San_Pham == item.ID_Sanpham) { @hh.Hinhchinh } } " width="150px" class="img-fluid" alt="Free html5 bootstrap 4 template">
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID_Sanpham }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID_Sanpham }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID_Sanpham })
            </td>
        </tr>
    }

</table>
