@model IEnumerable<ShopGiay.Models.Don_hang>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayout.cshtml";
}

<section class="is-title-bar">
    <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
        <ul>
            <li>Admin</li>
            <li>Đơn hàng</li>
        </ul>
    </div>
</section>
<table class="table">
    <tr>
        <th>
            ID Đơn hàng
        </th>
        <th>
            ID Khách hàng
        </th>
        <th>
            Tên khách hàng
        </th>
        <th>
            Email khách khàng
        </th>
        <th>
            Ngày đặt hàng
        </th>
        <th>
            Địa chỉ
        </th>
        <th>
            ID Nhân viên
        </th>
        <th>
            Trạng thái
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.ID_Donhang)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ID_Nguoidung)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Ten_Nguoidung)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Email_Nguoidung)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Ngay_Dat_hang)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Mota)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ID_Nhanvien)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Trangthai)
    </td>
    <td>
        @{if (item.Trangthai >= 2)
            {
            }
            else
            {
                @Html.ActionLink("Edit", "Edit", new { id = item.ID_Donhang }) 
                                                                                   
            }
        }
        |
        @Html.ActionLink("Details", "Details", new { id = item.ID_Donhang })
    </td>
</tr>
}

</table>
