@model ShopGiay.Models.San_pham
@using ShopGiay.Models;
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="colorlib-product">
    <div class="container">
        <div class="row row-pb-lg product-detail-wrap">
            <div class="col-sm-8">
                <div class="owl-carousel">
                    <div class="item">
                        <div class="product-entry border">
                            <a href="#" class="prod-img">
                                <img src="~/Asset/images/@foreach (Hinh_anh hh in (List<Hinh_anh>)ViewBag.hinhanh){ if (hh.ID_San_Pham == Model.ID_Sanpham) { @hh.Hinhchinh } }" class="img-fluid" alt="Free html5 bootstrap 4 template">
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="product-entry border">
                            <a href="#" class="prod-img">
                                <img src="~/Asset/images/@foreach (Hinh_anh hh in (List<Hinh_anh>)ViewBag.hinhanh){ if (hh.ID_San_Pham == Model.ID_Sanpham) { @hh.Hinh1 } }" class="img-fluid" alt="Free html5 bootstrap 4 template">
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="product-entry border">
                            <a href="#" class="prod-img">
                                <img src="~/Asset/images/@foreach (Hinh_anh hh in (List<Hinh_anh>)ViewBag.hinhanh){ if (hh.ID_San_Pham == Model.ID_Sanpham) { @hh.Hinh2 } }" class="img-fluid" alt="Free html5 bootstrap 4 template">
                            </a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-sm-4">
                <div class="product-desc">
                    <h3>@Model.Tensanpham</h3>
                    <p class="price">
                        <span>
                            @{ var gia = string.Format("{0:0,0 VĐN}", @Model.Gia);}
                            @gia
                        </span>
                        <span class="rate">
                            <i class="icon-star-full"></i>
                            <i class="icon-star-full"></i>
                            <i class="icon-star-full"></i>
                            <i class="icon-star-full"></i>
                            <i class="icon-star-half"></i>
                            (74 Rating)
                        </span>
                    </p>
                    <p>@Model.Mota</p>

                   
                    <div class="row">
                        <div class="col-sm-4 text-center">
                            <p class="addtocart">
                                <a href="@Url.Action("themgiohang","Giohang", new { id = Model.ID_Sanpham})" class="btn btn-primary btn-addtocart">
                                    <i class="icon-shopping-cart"></i> Thêm vào giỏ hàng
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

       
    </div>
</div>

