@model IEnumerable<ShopGiay.Models.San_pham>
@using ShopGiay.Models;
@{
    ViewBag.Title = "Home Page";
}
<nav class="colorlib-nav" role="navigation">
    <div class="sale">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 offset-sm-2 text-center">
                    <div class="row">
                        <div class="owl-carousel2">
                            <div class="item">
                                <div class="col">
                                    <h3><a href="#">FREESHIP ĐƠN ONLINE TỪ 1.000.000 - ĐẢM BẢO 100% SẢN PHẨM CHÍNH HẢNG</a></h3>
                                </div>
                            </div>
                            <div class="item">
                                <div class="col">
                                    <h3><a href="#">Sale ngập sàn - Tràng hạnh phúc</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<aside id="colorlib-hero">
   
        <div class="flexslider">

            <ul class="slides">
                @foreach (Slide slide in (List<Slide>)ViewBag.slide)
                {
                    <li style="background-image: url(/Asset/images/@slide.Hinh_anh);">
                        <div class="overlay"></div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-6 offset-sm-3 text-center slider-text">
                                    <div class="slider-text-inner">
                                        <div class="desc">
                                            <h1 class="head-1" style="color: #F6CEEC">@slide.Tieu_de</h1>
                                            <h2 class="head-2"style="color: #F6CEEC">@slide.Noi_dung</h2>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                }
                </ul>   
        </div>  
    </aside>
<div class="colorlib-intro">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 class="intro">It started with a simple idea: Create quality, well-designed products that I wanted myself.</h2>
            </div>
        </div>
    </div>
</div>
<div class="colorlib-product">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 text-center">
                <div class="featured">
                    <a href="#" class="featured-img" style="background-image: url(/Asset/images/GIAYSLIDE.jpg);"></a>
                    <div class="desc">
                    </div>
                </div>
            </div>
            <div class="col-sm-4 text-center">
                <div class="featured">
                    <a href="#" class="featured-img" style="background-image: url(/Asset/images/DSLIDE_5.jpg);"></a>
                    <div class="desc">
                    </div>
                </div>
            </div>
            <div class="col-sm-4 text-center">
                <div class="featured">
                    <a href="#" class="featured-img" style="background-image: url(/Asset/images/Phukien_6.jpg);"></a>
                    <div class="desc">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="colorlib-product">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 offset-sm-2 text-center colorlib-heading">
                <h2>Sản phẩm mới nhất</h2>
            </div>
        </div>
        <div class="row row-pb-md">
            @foreach (var item in Model)
            {
                <div class="col-md-3 col-lg-3 mb-4 text-center">

                    <div class="product-entry border">
                        <a href="@Url.Action("Details", new { id = @item.ID_Sanpham })" class="prod-img">
                            <img src="~/Asset/images/@foreach (Hinh_anh hh in (List<Hinh_anh>)ViewBag.hinhanh){ if (hh.ID_San_Pham == item.ID_Sanpham) { @hh.Hinhchinh } } " class="img-fluid" alt="Free html5 bootstrap 4 template">
                        </a>
                        <div class="desc" style="color:aqua">
                            <h2><a href="@Url.Action("Details",new { id = @item.ID_Sanpham})">@item.Tensanpham</a></h2>
                            <span class="price" style="color:hotpink">
                                @{ var gia = string.Format("{0:0,0 VĐN}", item.Gia);}
                                @gia
                            </span>
                        </div>
                    </div>

                </div>

            }
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <p><a href="@Url.Action("Product")" class="btn btn-primary btn-lg">Tất cả sản phẩm</a></p>
            </div>
        </div>
    </div>
</div>
