@using ShopGiay.Models
@{
    ViewBag.Title = "_MainLayout";
}

<!DOCTYPE HTML>
<html>
<head>
    <title>TTN_Shop</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rokkitt:100,300,400,700" rel="stylesheet">

    <!-- Animate.css -->
    <link rel="stylesheet" href="~/Asset/css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="~/Asset/css/icomoon.css">
    <!-- Ion Icon Fonts-->
    <link rel="stylesheet" href="~/Asset/css/ionicons.min.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="~/Asset/css/bootstrap.min.css">

    <!-- Magnific Popup -->
    <link rel="stylesheet" href="~/Asset/css/magnific-popup.css">

    <!-- Flexslider  -->
    <link rel="stylesheet" href="~/Asset/css/flexslider.css">

    <!-- Owl Carousel -->
    <link rel="stylesheet" href="~/Asset/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Asset/css/owl.theme.default.min.css">

    <!-- Date Picker -->
    <link rel="stylesheet" href="~/Asset/css/bootstrap-datepicker.css">
    <!-- Flaticons  -->
    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">

    <!-- Theme style  -->
    <link rel="stylesheet" href="~/Asset/css/style.css">

</head>
<body>
    <div class="colorlib-loader"></div>
    <div id="page">
        <nav class="colorlib-nav" role="navigation">
            <div class="top-menu">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-7 col-md-9">
                            <div id="colorlib-logo"><a href="index.html">TTN_Shop</a></div>
                        </div>
                        <div class="col-sm-5 col-md-3">
                            <form action="#" class="search-wrap">
                                <div class="form-group">
                                    <input type="search" class="form-control search" placeholder="Tìm kiếm">
                                    <button class="btn btn-primary submit-search text-center" type="submit"><i class="icon-search"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 text-left menu-1">
                            <ul>
                                <li class="active"><a href="@Url.Action("Index","TTN_Shop")">Trang chủ</a></li>
                                <li>@Html.ActionLink("Sản Phẩm", "Product", "TTN_Shop")</li>
                                @foreach (Nhom_Danh_Muc item in (List<Nhom_Danh_Muc>)ViewBag.nhomdanhmuc)
                                {
                                    <li class="has-dropdown">
                                        <a href="@Url.Action("Product","TTN_Shop",new { idndm = item.ID_Nhom_Danh_muc },null)">
                                            @item.Ten_Nhom_Danh_muc
                                        </a>
                                        <ul class="dropdown">
                                            @foreach (Danh_muc dm in (List<Danh_muc>)ViewBag.danhmuc)
                                            {
                                                if (dm.ID_Nhom_Danh_Muc == item.ID_Nhom_Danh_muc)
                                                {
                                                    <li>
                                                        <a href="@Url.Action("Product","TTN_Shop",new { iddm = dm.ID_Danhmuc },null)">

                                                            @dm.Ten_Danhmuc
                                                            
                                                        </a>
                                                    </li>
                                                }
                                            }
                                            </ul>

                                    </li>
                                }
                                <li><a href="about.html">About</a></li>
                                <li><a href="contact.html">Contact</a></li>
                                <li class="cart"><a href="cart.html"><i class="icon-shopping-cart"></i> Cart [0]</a></li>
                                <li class="cart"><a href="@Url.Action("Login","Login")"><i class="icon-log-in"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </nav>
        @RenderBody()
        <div class="colorlib-partner">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 offset-sm-2 text-center colorlib-heading colorlib-heading-sm">
                        <h2>Đối tác tin cậy</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col partner-col text-center">
                        <img src="~/Asset/images/brand1.png" class="img-fluid" alt="Free html4 bootstrap 4 template">
                    </div>
                    <div class="col partner-col text-center">
                        <img src="~/Asset/images/brand2.png" class="img-fluid" alt="Free html4 bootstrap 4 template">
                    </div>
                    <div class="col partner-col text-center">
                        <img src="~/Asset/images/brand3.png" class="img-fluid" alt="Free html4 bootstrap 4 template">
                    </div>
                    <div class="col partner-col text-center">
                        <img src="~/Asset/images/brand4.png" class="img-fluid" alt="Free html4 bootstrap 4 template">
                    </div>
                    <div class="col partner-col text-center">
                        <img src="~/Asset/images/brand5.png" class="img-fluid" alt="Free html4 bootstrap 4 template">
                    </div>
                </div>
            </div>
        </div>

        <footer id="colorlib-footer" role="contentinfo">
            <div class="container">
                <div class="row row-pb-md">
                    <div class="col footer-col colorlib-widget">
                        <h4>Thông tin liên hệ</h4>
                        <div>
                            <i class="fa fa-envelope icon">  EMAIL :</i>
                            <p> ttnshop@gmail.com</p>
                        </div>
                        <div>
                            <i class="fa fa-address-book icon">  ĐỊA CHỈ :</i>
                            <p> Số 15 Đường 185 Phước Long B Quận 9</p>

                        </div>
                        <div>
                            <i class="fa fa-phone-square icon">  ĐIỆN THOẠI LIÊN HỆ :</i>
                            <p> 0923861311</p>

                        </div>
                        <p>
                            <ul class="colorlib-social-icons">
                                <li><a href="#"><i class="icon-twitter"></i></a></li>
                                <li><a href="#"><i class="icon-facebook"></i></a></li>
                                <li><a href="#"><i class="icon-linkedin"></i></a></li>
                                <li><a href="#"><i class="icon-dribbble"></i></a></li>
                            </ul>
                        </p>
                    </div>
                   
            </div>
            <div class="copy">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <p>
                            <span>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                 &copy;
                                <script>document.write(new Date().getFullYear());</script>BẢN QUYỀN THUỘC VỀ TTN_SHOP | ĐỌC QUYỀN TOÀN BỘ SẢN PHẨM <i class="icon-heart" aria-hidden="true"></i> 
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <div class="gototop js-top">
        <a href="#" class="js-gotop"><i class="ion-ios-arrow-up"></i></a>
    </div>

    <!-- jQuery -->
    <script src="~/Asset/js/jquery.min.js"></script>
    <!-- popper -->
    <script src="~/Asset/js/popper.min.js"></script>
    <!-- bootstrap 4.1 -->
    <script src="~/Asset/js/bootstrap.min.js"></script>
    <!-- jQuery easing -->
    <script src="~/Asset/js/jquery.easing.1.3.js"></script>
    <!-- Waypoints -->
    <script src="~/Asset/js/jquery.waypoints.min.js"></script>
    <!-- Flexslider -->
    <script src="~/Asset/js/jquery.flexslider-min.js"></script>
    <!-- Owl carousel -->
    <script src="~/Asset/js/owl.carousel.min.js"></script>
    <!-- Magnific Popup -->
    <script src="~/Asset/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Asset/js/magnific-popup-options.js"></script>
    <!-- Date Picker -->
    <script src="~/Asset/js/bootstrap-datepicker.js"></script>
    <!-- Stellar Parallax -->
    <script src="~/Asset/js/jquery.stellar.min.js"></script>
    <!-- Main -->
    <script src="~/Asset/js/main.js"></script>

</body>
</html>



